@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
	font-family: "Montserrat", sans-serif;
}

body,
#map {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #b0b0b0;
	height: 100vh;
}

.leaflet-popup-content-wrapper {
	border-radius: 5px !important;
	padding: 0.35rem 0;
	width: 300px;
	font-size: 1rem;
}

.leaflet-bottom.leaflet-right {
	display: none !important;
}
